.container {
  width: 800px;
  margin: 0 auto;
}

.satu {
  border: solid;
  width: 200px;
  height: 200px;
  background-color: green;
  margin-top: 50px;
  border-image-source: url("./assets/hearts.png");
  border-image-repeat: round;
  border-image-width: 20px;
  border-image-slice: 20 22;
  border-image-outset: 20px;
  box-shadow: 35px 35px black;
}

.dua {
  border: solid;
  width: 200px;
  height: 200px;
  background-color: green;
  margin-top: 50px;
  border-image-source: url("./assets/border1.png");
  border-image-repeat: round;
  border-image-width: 30px;
  border-image-slice: 35 35;
  border-image-outset: 15px;
  box-shadow: 15px 10px 10px black;
}